<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../static/css/formulario.css">
<title>Introducir incidencia</title>
</head>
<div class="inciCli">
    <h1 align="center">PGPIncidents - Introducir incidencia</h1>
  <div class="formCli">  
    
    <form class="incidentCli">
      
      <input type="text" placeholder="Título" id="titulo"/>
      <textarea placeholder="Descripción" id="descripcion"></textarea>
      <input type="text" placeholder="Id elemento inventario " id="id_elemento"/>
      <input type="date" id="fecha">
      <select name="Categoria" id="categoria">
        <option value="hw">Hardware</option>
        <option value="com">Comunicaciones</option>
        <option value="softwareBa">Software básico</option>
        <option value="softwareApp">Software de aplicaciones</option>
      </select>
      <button>enviar</button>
    </form>
  </div>
</div>

</html>