<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../static/css/formulario.css">
<title>Introducir incidencia</title>
</head>
<div class="inciCli">
    <h1 align="center">PGPIncidents - Introducir incidencia</h1>
  <div class="formCli">  
    
    <form class="incidentCli" method='POST' action='/registrar_nueva_incidencia'>
      
      <input type="text" placeholder="Título" name="titulo"/>
      <textarea placeholder="Descripción" name="descripcion"></textarea>
      <input type="text" placeholder="Id elemento inventario " name="idElementoInventario"/>
      <input type="date" id="fecha" name="fecha">
      <select name="categoria">
        <option value="hw">Hardware</option>
        <option value="com">Comunicaciones</option>
        <option value="softwareBa">Software básico</option>
        <option value="softwareApp">Software de aplicaciones</option>
        <option value="otros">Otros</option>
      </select>
      <button type="submit">Enviar</button>
    </form>
  </div>
</div>

</html>
