<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PGPIncidents</title>
    <!-- Establecer el ancho al ancho del sistema y el zoom al 1 -->
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/clientView.css">
    <!-- Link al css de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
        crossorigin="anonymous">
    <script src="{{ url_for('static', filename='scripts/includeHTML.js') }}"></script>
</head>

<body class="d-flex" style="min-height: 100%;min-width: 100%;">
    <!-- barra principal del menú -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top pt-0" onmouseover="closeSide('side-nav')">
        <div class="d-inline-flex justify-content-center w-100 align-items-center">
            <span class="navbar-brand title" style="font-size: 25px;">PGPIncidents</span>
        </div>
    </nav>

    <div id="side-nav" class="side-nav fixed-top flex-nowrap flex-column justify-content-start d-inline-flex align-items-start bg-light" onmouseover="openSide('side-nav')">
        <div class="side-title side-content d-flex ">
            <img id="user-img" class="user-icon" src="../static/img/default-gravatar.png" alt="user icon">
            <span class="collapse width align-self-center" style="min-width: 70%;padding-left: 5%;max-height: 10%">{{ current_user.nick }}</span>
        </div>

        {% if current_user.tipo == 0 %}
        <div w3-include-html="{{ url_for('static', filename='menus/menu_supervisor.html') }}"></div>
        {% elif current_user.tipo == 1 %}
        <div w3-include-html="{{ url_for('static', filename='menus/menu_tecnico.html') }}"></div>
        {% elif current_user.tipo == 2 %}
        <div w3-include-html="{{ url_for('static', filename='menus/menu_cliente.html') }}"></div>
        {% endif %}
    </div>

    <div id="data-body" class="container-fluid flex-grow-1" onmouseover="closeSide('side-nav')" >
        <!-- Body -->
        <div class="row">
            <div class="col-md-12" style="font: bold; font-size: 2.5em; margin: 1em;">
                <p>{{  incidencia.titulo }}</p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card" id="card1">
                    <div class="card-body">
                        <p class="card-text text-justify" id="card-description">{{ incidencia.descripcion}}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <table class="table table-striped table-hover" >
                <thead class="thead-dark">
                    <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>Estado</td>
                    <td>{{ incidencia.estado  }}</td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td>Fecha de Apertura</td>
                    <td>24 de Diciembre de 2018</td>
                    </tr>
                    <tr>
                    <th scope="row">3</th>
                    <td>Fecha Apertura</td>
                    <td>24 de Dicimbre de 2018</td>
                    </tr>
                    <tr>
                    <th scope="row">4</th>
                    <td>Fecha estimada de cierre</td>
                    <td>23 de Julio de 2065</td>
                    </tr>
                    <tr>
                    <th scope="row">5</th>
                    <td>{{ incidencia.reportadaPor}}</td>
                    <td></td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>

        <section id="Steps" class="steps-section">

    <div class="steps-timeline" style="margin-top: 7em;">
      <div class="steps-one">
        <img class="steps-img" src="http://placehold.it/50/3498DB/FFFFFF" alt="" />
        <h3 class="steps-name">
          Abierta
        </h3>
        <p class="steps-description">
        Incidencia abierta por {{ incidencia.reportadaPor}} el 23/12/18
        </p>
      </div>

      <div class="steps-two">
          {% if incidencia.estado == 1 or incidencia.estado == 2 or incidencia.estado == 3 or incidencia.estado == 4%}
        <img class="steps-img" src="http://placehold.it/50/3498DB/FFFFFF" alt="" />
        {% else %}
        <img class="steps-img" src="http://placehold.it/50/FF0000/FFFFFF" alt="" />
        {% endif %}
        <h3 class="steps-name">
          Aceptada
        </h3>
        <p class="steps-description">
        Aceptada y asignada a {{ incidencia.tecnico }}
        </p>
      </div>

      <div class="steps-three">
          {% if incidencia.estado == 3 or incidencia.etado == 4%}
        <img class="steps-img" src="http://placehold.it/50/3498DB/FFFFFF" alt="" />
        {% else %}
        <img class="steps-img" src="http://placehold.it/50/FF0000/FFFFFF" alt="" />
        {% endif %}
        <h3 class="steps-name">
          Cerrada
        </h3>
        <p class="steps-description">
            Incidencia cerrada por supervisor el 25/12/19
        </p>
      </div>

    </div><!-- /.steps-timeline -->

  </section>


       <form method="POST" action='/incidencia/{{ incidencia.id }}'>
            <footer>
                {% if (current_user.tipo == 0) and (incidencia.estado ==  0) %}
                <!-- <form method="POST" action='/incidencia/{{ incidencia.id }}'> -->
                <button type="button" class="btn btn-outline-primary">Añadir comentario</button>

                    <button type="submit" class="btn btn-outline-primary" name="action" value="tecnico">Asignar tecnico</button>
                     <select name="tecnicoAsignado">  
                        {% for i in range(listaTecnicos|length) %}
                        <option value="{{ listaTecnicos[i].nick }}">{{ listaTecnicos[i].nick }}</option>
                        {% endfor %}
                    </select> 
                {% endif %}}

                {% if (current_user.tipo == 0) and (incidencia.estado ==  1) %}
                <button type="button" class="btn btn-outline-primary">Añadir comentario</button>
                {% endif %}}

                {% if (current_user.tipo == 0) and (incidencia.estado ==  3 or incidencia.estado==2) %}
                <button type="button" class="btn btn-outline-primary">Añadir comentario</button>
                <button type="submit" class="btn btn-outline-primary" name="action" value="Solucion">Cerrar Incidencia Solucionada</button>
                <button type="submit" class="btn btn-outline-primary" name="action" value="n-Solucion">Cerrar Incidencia sin Solucion</button>
                {% endif %}}

                {% if (current_user.tipo == 1) and (incidencia.estado==1) %}
                <button type="button" class="btn btn-outline-primary">Añadir comentario</button>
                <button type="submit" class="btn btn-outline-primary" name="action" value="cierre_tecnico">Solicitar Cierre</button>
                {% endif %}}

                {% if current_user.tipo == 1 %}
                <button type="button" class="btn btn-outline-primary">Añadir comentario</button>
                {% endif %}}


                {% if (current_user.tipo == 2) and (incidencia.estado!=2) %}
                <button type="button" class="btn btn-outline-primary">Ver comentario</button>
                <button type="submit" class="btn btn-outline-primary" name="action" value="cierre_cliente">Solicitar Cierre</button>
                {% endif %}
                
            </footer>
         </form>

    <script>
        function openSide(id) {
            let el = document.getElementById(id);
            if (!el.classList.contains('open')) {
                $('.collapse').collapse('show');
                el.classList.add('open');
                document.getElementById('side-nav').style.width = "200px";
            }
        };
        function closeSide(id) {
            let el = document.getElementById(id);
            if (el.classList.contains('open')) {
                el.classList.remove('open');
                $('.collapse').collapse('hide')
                document.getElementById('side-nav').style.width = "64px";
            }
        };
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<script>
includeHTML();
</script>
</body>

</html>
