<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../static/css/login.css">
<title>Inicio de sesión</title>
</head>

<div class="login-page">
  <div class="form">
      <form class="login-form" method="post" action="/login">
      <h1 align="center">PGPIncidents</h1>
      <input type="text" placeholder="usuario" name="username"/>
      <input type="password" placeholder="contraseña" name="password"/>
      <button>entrar</button>
    </form>
  </div>
</div>

</html>
