
html {
    height: 100%;
    margin: 0%;
}

body{
    background: #FFFFFF; /* fallback for old browsers */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
    width: 100%;
    height: 100%;
    margin: 0!important;
    padding: 0!important;
}

/*---------------------------------------------Top Navigation---------------------------------------------*/
nav {
    height: 64px;
}

.title{
    position: center;
    font-weight: bold;
}

/*---------------------------------------------Top Side---------------------------------------------*/

.side-nav{
    min-width: 64px;
    max-width: 200px;
    width: 64px;
    height: 100%;
    background: white;
    border-right-style: groove;
    border-right-width: 1px;
    overflow: hidden;
    transition-delay: 100ms!important;
    transition: width 220ms ease-out;
}
.collapse{
    min-width: 100%;
}

.collapse.width {
    height: auto;
    width:0;
    transition-delay: 0!important;
    transition: width inherit;
}
.side-title{
    height: 64px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.side-content{
    padding: 5px;
}

.side-options{
    margin-left: 15px;
    font-size: 18px;
}

.side-icons{
    position: absolute;
    top: 64px;
}

.side-icon{
    color: black;
    margin-bottom: 34px;
    padding-left: 10px;
}

.user-icon{
    width: 54px;
    height: 54px;
    background: white;
    border-radius: 100%;
    transition: all 100ms ease-out;
}

.list-group-item{
    height: 60px;
    margin-top: 0; 
}
/*---------------------------------------------Body---------------------------------------------*/
#data-body {
    width: 100%;
    height: 100%;
    padding-top: 64px!important;
    padding-left: 4%!important;
    margin-right: 0!important;
    margin-bottom: 0!important;
    padding-right: 0!important;
    padding-bottom: 0!important;
}

/*---------------------------------------------Cards---------------------------------------------*/
.card-deck {
    margin: 1em;
}

#card1 {
    background-color: lightgrey;
}

#card2 {
    background-color: lightyellow;
}
.card-title {
    font-size: 1em;
    font-weight: bold;
}

#card-description {
    font-size: 0.90em;
}

#tituloColumna {
    font-size: 1.2em;
    font-style: italic;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
    border: 2px solid grey;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 2em;
}

.btn {
    margin: 1em;
    width: 10em;
}


/*---------------------------------------------Responsive Stuff---------------------------------------------*/
@media screen and (max-width: 599px) {
    nav {
        height: 56px;
    }

    #data-body {
        margin-top: 56px; 
    }

    .side.title{
        height: 56px;
    }
}


@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: lato;
}

.section-header, .steps-header, .steps-name {
  color: #3498DB;
  font-weight: 400;
  font-size: 1.4em;
}

.steps-header {
  margin-bottom: 20px;
  text-align: center;
}

.steps-timeline {
  outline: 1px dashed rgba(255, 0, 0, 0);
}
@media screen and (max-width: 500px) {
  .steps-timeline {
    border-left: 2px solid #3498DB;
    margin-left: 25px;
  }
}
@media screen and (min-width: 500px) {
  .steps-timeline {
    border-top: 2px solid #3498DB;
    padding-top: 20px;
    margin-top: 40px;
    margin-left: 16.65%;
    margin-right: 16.65%;
  }
}
.steps-timeline:after {
  content: "";
  display: table;
  clear: both;
}

.steps-one,
.steps-two,
.steps-three {
  outline: 1px dashed rgba(0, 128, 0, 0);
}
@media screen and (max-width: 500px) {
  .steps-one,
  .steps-two,
  .steps-three {
    margin-left: -25px;
  }
}
@media screen and (min-width: 500px) {
  .steps-one,
  .steps-two,
  .steps-three {
    float: left;
    width: 33%;
    margin-top: -50px;
  }
}

@media screen and (max-width: 500px) {
  .steps-one,
  .steps-two {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 500px) {
  .steps-one {
    margin-left: -16.65%;
    margin-right: 16.65%;
  }
}

@media screen and (max-width: 500px) {
  .steps-three {
    margin-bottom: -100%;
  }
}
@media screen and (min-width: 500px) {
  .steps-three {
    margin-left: 16.65%;
    margin-right: -16.65%;
  }
}

.steps-img {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media screen and (max-width: 500px) {
  .steps-img {
    float: left;
    margin-right: 20px;
  }
}

.steps-name,
.steps-description {
  margin: 0;
}

@media screen and (min-width: 500px) {
  .steps-name {
    text-align: center;
  }
}

.steps-description {
  overflow: hidden;
}
@media screen and (min-width: 500px) {
  .steps-description {
    text-align: center;
  }
}
